[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "kkbox-telegram-bot"

[packages]
python-telegram-bot = "*"
flask = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
