[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
flask = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
