-i https://pypi.org/simple/
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptography==3.4.6
flask==1.0.2
future==0.18.2
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
pycparser==2.20
python-telegram-bot==11.1.0
requests==2.19.1
urllib3==1.23
werkzeug==1.0.1
